.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .Home .lander p {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 5rem !important;  /* Preferred icon size */
  }

.orText {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span:hover {
text-decoration: none;
}